<%- include("partials/header") %>
<form action="" class="upcomingeventformcreate newsformcreate">
    
    <h1>Update Event</h1>
	<span>Title</span>
    <input type="text" name="title" id="" class="upcomingeventinputadmincreate" value="<%=event.title%>"><br>
	<span>From Date</span>
	<%if(event.fromDate){%>
	<input type="date" id="" class="inputdateformat fromdate" value="<%=event.fromDate.toLocaleDateString('af-ZA').replace(/\//g,'-')%>"></input><br>    
	<%}else{%>
	<input type="date" id="" class="inputdateformat fromdate" value="N/A"></input><br>    
	<%}%>
	<span>To Date</span>
	<%if(event.toDate){%>
	<input type="date" id="" class="inputdateformat date" value="<%=event.toDate.toLocaleDateString('af-ZA').replace(/\//g,'-')%>"></input><br>
	<%}else{%>
	<input type="date" id="" class="inputdateformat date" value="N/A"></input><br>

	<%}%>
	<span>Event Content</span>
    <textarea name="content" class="upcomingeventcontentinputadmincreate" id="desc" cols="30" rows="10"><%=event.content%></textarea><br>
	
	
	<span><b>Thumbnail Image </b>File Resolution should be 250 X 300</span>
    <input type="file" class="EventThumbnailImage" name="EventThumbnailImage" id="" style="border: none;" required>


    <span><b>Banner Image </b>File Resolution should be 900 X 500</span>
    <input type="file" class="EventFeatureImage" name="EventFeatureImage" id="" style="border: none;" required>

    <button type="submit" id="update-event-btn">UPDATE</button>
</form>



<script>
    var url_string=""
    window.onload=function(){
        url_string = window.location.href
 url_string= url_string.split('/')[4]
console.log(url_string);
    }
    const hideAlert = () => {
	const el = document.querySelector(".alert");
	if (el) el.parentElement.removeChild(el);
};

// type is 'success' or 'error'
const showAlert = (type, msg, time = 7) => {
	hideAlert();
	const markup = `<div class="alert alert--${type}">${msg}</div>`;
	document.querySelector("body").insertAdjacentHTML("afterbegin", markup);
	window.setTimeout(hideAlert, time * 1000);
};

// const createTenderAdminVal = async (emd,openingDate, lastDate, organizationDetail,tenderAuthority,brief) => {
const createTenderAdminVal = async (form) => {

	try {
		let button = document.getElementById('update-event-btn');
		button.disabled = 'true';
		const res = await axios({
			method: "PATCH",
			url: `/api/v1/upcoming-events/${url_string}`,
			data:form,

		});
		button.removeAttribute('disabled');
		if (res.data.status === "success") {
			console.log("THIS IS RES ", res);
			showAlert("success", "Published");
            document.querySelector(".upcomingeventformcreate").reset()
		}
	} catch (err) {
		showAlert("error", err);
        console.log(err);
		// if (err.response.status === 500) {
		// 	document.querySelector(".hideAlert").classList.remove("alert");
		// 	document.getElementById("alert").innerHTML =
		// 		"Cannot Submit Form Please Fill Required Field Correctly";
		// } else {
		// 	document.querySelector(".hideAlert").classList.remove("alert");
		// 	document.getElementById("alert").innerHTML = err.response.data.message;
		// }
	}
};
const createTender = document.querySelector(".upcomingeventformcreate");
console.log(createTender);
if (createTender) {
	createTender.addEventListener("submit", (e) => {
		e.preventDefault();
        const form= new FormData()
        form.append('title',document.querySelector(".upcomingeventinputadmincreate").value)
        form.append('content',document.querySelector(".upcomingeventcontentinputadmincreate").value)
        form.append('toDate',document.querySelector(".date").value)
        form.append('fromDate',document.querySelector(".fromdate").value)
        form.append('EventThumbnailImage',document.querySelector(".EventThumbnailImage").files[0])
		form.append('EventFeatureImage',document.querySelector(".EventFeatureImage").files[0])
        // form.append('lastDate',document.getElementById("lastDate").value)
        // form.append('organizationDetail',document.getElementById("adminOrganizationDetail").value)
        // form.append('tenderAuthority',document.getElementById("adminAuthorityIssue").value)
        // form.append('brief', document.querySelector(".adminTenderBrief").value)
        // form.append('documents',document.querySelector(".tenderDocuments").files[0])
       

		// const emd = document.getElementById("adminEmd").value;
		// const openingDate = document.getElementById("openingDate").value;
		// const lastDate = document.getElementById("lastDate").value;
		// const organizationDetail = document.getElementById("adminOrganizationDetail").value;
		// const tenderAuthority = document.getElementById("adminAuthorityIssue").value;
		// const brief = document.querySelector(".adminTenderBrief").value;
        
        // console.log(emd,openingDate, lastDate, organizationDetail,tenderAuthority,brief);
		// createTenderAdminVal(emd,openingDate, lastDate, organizationDetail,tenderAuthority,brief);
		createTenderAdminVal(form);
	});
} 

</script>

<%- include("partials/footer") %>