<%- include("partials/header") %>
<%console.log(event)%>

<h1 class="page-heading"><%=event.title%></h1>
<div class="single-event-wrapper">
  <div class="timeline">
    <div class="from-div">
        <span>FROM</span>
        <div class="seperator">
          <div class="line">
            <span></span>
          </div>
        </div>
        <% if (event.fromDate) {%>
          <span><%=getDateString(event.fromDate)%></span>
        <%} else {%>
          <span>N/A</span>
        <%}%>
    </div>
    <div class="to-div">
        <span>TO</span>
        <div class="seperator">
          <div class="line">
            <span></span>
          </div>
        </div>
        <% if (event.toDate) {%>
          <span><%=getDateString(event.toDate)%></span>
        <%} else {%>
          <span>N/A</span>
        <%}%>
    </div>
    </div>
  <img src="<%=event.featureImage%>"/>
  <div class="event-content"><%-event.content%></div>
  </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include("partials/footer") %>