<%- include("partials/header") %>



<div class="container gg">
  <div class="newsheader">
    <p>
      <%-data.title%>
    </p>
  </div>
  <div class="newsimage">
    <img src="<%-data.featureImage%>" alt="">
  </div>
  <div class="newscontent">
    <p>
      <%-data.content%>
    </p>
  </div>

</div>




<%- include("partials/footer") %>